.container__section__main__article {
  display: grid;
  grid-template-areas: "left right" "footer footer";
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.container__section__main__article__left {
  height: 100%;
  width: auto;
}
.container__section__main__article__left__images__frames img {
  height: 61.8rem;
  width: 45.4rem;
}
.container__section__main__article__left__images__frames__bg-img {
  height: 42.7rem;
  width: 24rem;
}
.container__section__main__article__right {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 60.6rem;
  width: 35rem;
}
.container__section__main__article__right__top {
  border: 1px solid silver;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 38.2rem;
  width: 100%;
}
.container__section__main__article__right__top h1 {
  height: 5.1rem;
  font-size: 5rem;
}
.container__section__main__article__right__top__form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 26.5rem;
  width: 34.8rem;
}
.container__section__main__article__right__top__form__all {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
}
.container__section__main__article__right__top__form__all__cont {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}
.container__section__main__article__right__top__form__all__cont__container-user {
  margin: 0 4rem;
}
.container__section__main__article__right__top__form__all__cont__container-user__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.container__section__main__article__right__top__form__all__cont__container-user__inner__label {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  position: relative;
}
.container__section__main__article__right__top__form__all__cont__container-user__inner__label__span {
  padding: 9px 0 7px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  position: absolute;
}
.container__section__main__article__right__top__form__all__cont__container-pwd {
  margin: 0 4rem;
}
.container__section__main__article__right__top__form__all__cont__container-pwd__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.container__section__main__article__right__top__form__all__cont__container-pwd__inner__label {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  position: relative;
}
.container__section__main__article__right__top__form__all__cont__container-pwd__inner__label__span {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  position: absolute;
  padding: 9px 0 7px 8px;
}
.container__section__main__article__right__top__form__all__cont__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 3.2rem;
  width: 35rem;
}
.container__section__main__article__right__top__form__all__cont__btn button {
  height: 3.2rem;
  width: 26.5rem;
}
.container__section__main__article__right__top__form__all__cont__btn button__content {
  font-size: 1.8rem;
  height: 1.8rem;
  width: 24.3rem;
}
.container__section__main__article__right__top__form__all__cont__hr {
  height: 1.5rem;
  width: 26.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container__section__main__article__right__top__form__all__cont__hr__line1 {
  width: 10.7rem;
  color: silver;
}
.container__section__main__article__right__top__form__all__cont__hr__line1__or {
  font-size: 1.3rem;
}
.container__section__main__article__right__top__form__all__cont__hr__line1__or__line2 {
  width: 10.7rem;
  color: silver;
}
.container__section__main__article__right__top__form__all__cont__log-with {
  height: 1.93rem;
  width: 26.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.container__section__main__article__right__middle {
  border: 1px solid silver;
}
.container__section__main__article__right__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.container__section__main__article__right__bottom__get--app__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.container__section__main__article__right__bottom__get--app__cont a img {
  height: 4rem;
  width: 13.6rem;
}
.container__section__main__article__footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.container__section__main__article__footer__first {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.container__section__main__article__footer__third {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/*# sourceMappingURL=main.css.map */
