@mixin flex($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: $direction;
}


@mixin links ($link, $visited, $hover, $active) {
    & {
        color: $link;
        &:visited {
            color: $visited;
        }
        &:hover {
            color: $hover;
        }
        &:active, &:focus {
            color: $active;
        }
    }
}