@use '../variables/index.scss' as *;
@use '../abstracts/index.scss' as *;

.container {
    &__section {
        &__main {
            &__article {
                display: grid;
                grid-template-areas:
                    'left right'
                    'footer footer';
                justify-content: center;
                align-items: center;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;

                &__left {
                    height: 100%;
                    width: auto;

                    &__images {
                        &__frames {
                            img {
                                height: 61.8rem;
                                width: 45.4rem;
                            }

                            &__bg-img {
                                height: 42.7rem;
                                width: 24rem;
                            }
                        }
                    }
                }

                &__right {
                    @include flex(column);
                    height: 60.6rem;
                    width: 35rem;

                    &__top {
                        border: 1px solid silver;
                        @include flex(column);
                        height: 38.2rem;
                        width: 100%;

                        h1 {
                            height: 5.1rem;

                            font-size: 5rem;
                        }

                        &__form {
                            @include flex(column);

                            height: 26.5rem;
                            width: 34.8rem;

                            &__all {
                                @include flex(column);

                                // height: 26.5rem;
                                width: 100%;

                                &__cont {
                                    // height: 21.3rem;
                                    width: 100%;
                                    display: grid;
                                    grid-template-columns: 1fr;
                                    grid-template-rows: repeat(4, 1fr);
                                    justify-content: center;
                                    align-items: center;
                                    // // text-align: initial;
                                    // background-color: lightblue;
                                    // @include flex(column);

                                    &__container-user {
                                        margin: 0 4rem;

                                        &__inner {
                                            @include flex(column);

                                            &__label {
                                                @include flex(column);
                                                position: relative;

                                                &__span {
                                                    padding: 9px 0 7px 8px;
                                                    @include flex(column);
                                                    // height: 3rem;
                                                    // width: 20.8rem;
                                                    position: absolute;
                                                }
                                            }
                                        }
                                    }

                                    &__container-pwd {
                                        margin: 0 4rem;

                                        &__inner {
                                            @include flex(column);

                                            &__label {
                                                @include flex(column);
                                                position: relative;

                                                &__span {
                                                    @include flex(column);
                                                    position: absolute;
                                                    padding: 9px 0 7px 8px;
                                                }
                                            }
                                        }
                                    }

                                    &__btn {
                                        @include flex(column);

                                        height: 3.2rem;
                                        width: 35rem;

                                        button {
                                            height: 3.2rem;
                                            width: 26.5rem;

                                            &__content {
                                                font-size: 1.8rem;
                                                height: 1.8rem;
                                                width: 24.3rem;
                                            }
                                        }
                                    }

                                    &__hr {
                                        height: 1.5rem;
                                        width: 26.5rem;

                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-around;

                                        &__line1 {
                                            width: 10.7rem;
                                            color: silver;

                                            &__or {
                                                font-size: 1.3rem;

                                                &__line2 {
                                                    width: 10.7rem;
                                                    color: silver;
                                                }
                                            }
                                        }
                                    }

                                    &__log-with {
                                        height: 1.93rem;
                                        width: 26.8rem;
                                        @include flex(row);
                                    }
                                }
                            }
                        }
                    }

                    &__middle {
                        border: 1px solid silver;
                    }

                    &__bottom {
                        @include flex(column);
                        &__get--app {
                            &__cont {
                                @include flex(row);
                                a {
                                    img {
                                        height: 4rem;
                                        width: 13.6rem;
                                    }
                                }
                            }
                        }
                    }
                }

                &__footer {
                    grid-area: footer;

                    @include flex(column);

                    &__first {
                        @include flex(row);
                    }

                    &__third {
                        @include flex(row);
                    }
                }
            }
        }
    }
}
