@use '../variables/index.scss' as *;
@use '../abstracts/index.scss' as *;

.container {
    background-color: $bg;

    &__section {
        &__main {
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // // height: 68.2rem;
            // // width: 86.4rem;

            &__article {
                height: 100%;
                width: 100%;
                display: grid;
                grid-template-areas:
                    'left right'
                    'footer footer';
                // justify-content: center;
                // align-items: center;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 100% auto;
                overflow-x: hidden;
                margin-top: 4rem;
                // gap: 1rem;

                &__left {
                    // height: 100%;
                    // width: auto;
                    height: 61.8rem;
                    width: 45.5rem;

                    display: flex;
                    // justify-content: end;
                    // align-items: center;
                    margin-left: 10rem;

                    &__images {
                        &__frames {
                            img {
                                height: 618px;
                                width: auto;
                                margin-left: 3.8rem;
                            }

                            // &__bg-img {
                            //     height: 61.8rem;
                            //     width: 45.4rem;
                            // }
                        }
                    }
                }

                &__right {
                    @include flex(column);
                    height: 60.6rem;
                    width: 35rem;
                    margin-left: 2.1rem;

                    &__top {
                        border: 1px solid silver;
                        background-color: $bg-top;
                        @include flex(column);
                        height: 35.9rem;
                        width: 100%;

                        h1 {
                            height: 5.1rem;
                            font-size: 5rem;
                            margin-bottom: 2rem;
                        }

                        img {
                            height: 51px;
                            scale: 2;
                        }

                        &__form {
                            @include flex(column);

                            height: 26.5rem;
                            width: 34.8rem;

                            &__all {
                                @include flex(column);

                                // height: 26.5rem;
                                width: 100%;

                                a {
                                    font-size: 12px;
                                }

                                &__cont {
                                    // height: 21.3rem;
                                    width: 100%;
                                    display: grid;
                                    grid-template-columns: 1fr;
                                    grid-template-rows: repeat(4, 1fr);
                                    justify-content: center;
                                    align-items: center;
                                    row-gap: 0.3rem;
                                    // // text-align: initial;
                                    // @include flex(column);

                                    &__container-user {
                                        // background-color: lightblue;
                                        // margin: 0 4rem;

                                        &__inner {
                                            @include flex(column);

                                            &__label {
                                                @include flex(column);
                                                position: relative;

                                                input {
                                                    padding: 0 1rem;
                                                    width: 26.8rem;
                                                    height: 3.7rem;
                                                }
                                            }
                                        }
                                    }

                                    &__container-pwd {
                                        margin: 0 4rem;

                                        &__inner {
                                            @include flex(column);

                                            &__label {
                                                @include flex(column);
                                                position: relative;

                                                input {
                                                    width: 26.8rem;
                                                    height: 3.7rem;
                                                    padding: 0 1rem;
                                                    // margin-top: 1rem;
                                                    margin-bottom: 1rem;
                                                }
                                            }
                                        }
                                    }

                                    &__btn {
                                        @include flex(column);

                                        // height: 3.2rem;
                                        // width: 35rem;

                                        // margin-top: 1rem;

                                        button {
                                            // height: 3.2rem;
                                            // width: 26.5rem;
                                            width: 26.8rem;
                                            height: 3.7rem;

                                            &__content {
                                                font-size: 1.8rem;
                                                // height: 1.8rem;
                                                // width: 24.3rem;
                                            }
                                        }
                                    }

                                    &__hr {
                                        height: 1.5rem;
                                        width: 100%;

                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-around;
                                        align-content: center;
                                        align-items: center;
                                        // align-self: center;
                                        // align-tracks: center;
                                        padding: 0 3.2rem;

                                        &__line1 {
                                            height: 0.05em;
                                            width: 10.7rem;
                                            color: silver;
                                            border-bottom: 1px solid silver;
                                            justify-content: center;

                                            &__or {
                                                text-align: center;
                                                text-justify: center;

                                                &__line2 {
                                                    height: 0.05em;
                                                    width: 10.7rem;
                                                    color: silver;
                                                    border-bottom: 1px solid
                                                        silver;
                                                }
                                            }
                                        }
                                    }

                                    &__log-with {
                                        // height: 1.93rem;
                                        // width: 26.8rem;

                                        @include flex(row);
                                        font-size: 1.8rem;
                                        

                                        &__btn {
                                            width: 26.8rem;
                                            height: 3.7rem;
                                            display: flex;
                                            justify-content: space-around;
                                            padding: 1rem 2rem;
                                            margin: 0;
                                            border: none;
                                            text-decoration: none;
                                            font-size: 1rem;
                                            font-family: inherit;
                                            cursor: pointer;
                                            background-color: $bg-top;
                                            
                                            div {
                                                width: 26.8rem;
                                            height: 3.7rem;
                                                @include flex(row);
                                                position: relative;
                                                
                                                span {
                                                    position: absolute;
                                                    display:flex;
                                                    justify-content: space-around;
                                                    background-color: red;
                                                    width: 26.8rem;
                                                    height: 3.7rem;
                                                }
                                                
                                                img {
                                                    height: 12px;
                                                    width: 12px;
                                                }
                                                
                                                &__content {
                                                    font-size: 1.8rem;
                                                    color: $log-forgot;
                                                }
                                            }
                                        }
                                    }
                                }

                                &__link {
                                    font-size: 1.8rem;
                                }
                            }
                        }
                    }

                    &__middle {
                        height: 6.5rem;
                        width: 35rem;
                        border: 1px solid silver;
                        margin-top: 2rem;
                        background-color: $bg-top;

                        @include flex(row);

                        &__cont {
                            &__p {
                                font-size: 1.4rem;
                                // &__a {
                                //     &__span {
                                //         font-size: 1.4rem;
                                //     }
                                // }
                            }
                        }
                    }

                    &__bottom {
                        // background-color: red;
                        height: 10.1rem;
                        line-height: 1.4rem;
                        font-size: 1.8rem;

                        p {
                            poisition: relative;
                            font-size: 1.8rem;
                        }

                        @include flex(column);
                        &__get--app {
                            &__cont {
                                padding-top: 1.5rem;
                                @include flex(row);
                                a {
                                    img {
                                        height: 4rem;
                                        width: 13.6rem;
                                    }
                                }
                            }
                        }
                    }
                }

                &__footer {
                    grid-area: footer;
                    // height: 100%;
                    // width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 2.2rem;
                    margin-top: 1.3rem;

                    &__all {
                        display: grid;
                        align-self: end;
                        width: 65rem;
                        height: 15.7rem;
                        order: 5;
                        padding: 0 2rem;
                        padding-left: 1.6rem;
                        padding-right: 1.6rem;
                        position: relative;

                        div a {
                            all: unset;
                            color: $footer-font;
                        }

                        // align-items: stretch;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        &__first {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            // color: $footer-font;
                            // margin: -12px 0 0 -12px;
                            // width: calc(100% + 12px);
                        }

                        &__second {
                            display: flex;
                            flex-direction: row;
                            gap: 1rem;
                            align-items: center;
                            justify-content: center;
                        }

                        &__third {
                            display: flex;
                            flex-direction: row;
                            gap: 1rem;
                            align-items: center;
                            justify-content: center;
                            padding: 1.6rem;

                            div,
                            h5 {
                                color: $footer-font;
                                text-decoration: none;
                            }

                            select {
                                background-color: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
